.landing-wrapper {
	margin-top: 80px;
}

img {
  width: 200px;
  margin-bottom: 16px;
}

.landing-wrapper .result-container {
	margin-top: 8px;
}

.landing-wrapper .landing-pagination-wrapper {
  display: block;
  float: right;
}

.landing-wrapper .message-box {
	height: 356px;
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
}
